{{ define "main" }}
<div class="post-list portfolio">
    <h1 class="main-title">Portfolio</h1>
    <ul class="preview-ul">
        <div class="grid">
            <li class="preview">
                <a class="preview-a-img" href="http://vps730707.ovh.net/web/graphique/">      
                    <img class="preview-img" src="/img/portfolio/datavis.webp" />
                </a>
                <a class="preview-title" href="http://vps730707.ovh.net/web/graphique/">
                    Datavis, BNF
                </a>
                <span class="preview-date">
                November 2019 - January 2020
                </span>
            </li>
            <p class="description">
                Single-page data visualisation of a body of old literature works that speak about future technologies. Allows to grasp information quickly about the nature of the data. Wrote architecture. PHP + client side JS w/ AJAX. <br>
            </p>
            <div class="links">
                <a class="link" href="https://anranticip.hypotheses.org/">ANR Anticipation</a> |
                <a class="link" href="">Bibliothèque Nationale de France</a>
            </div>
        </div>
    </ul>
</div>
{{ end }}