@font-face {
    font-family: 'Fira Code';
    src: url('/font/FiraCode-Regular.woff2') format('woff2');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'Rosario';
    src: url('/font/Rosario-Medium.woff2') format('woff2');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('/font/RobotoCondensed-Regular.woff2') format('woff2');
    font-weight: normal; font-style: normal;
}